# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Excluded folders #
####################

Log
TRACKER_PTB/RETINOTOPY/Stimuli/faces/
TRACKER_PTB/RETINOTOPY/Stimuli/walkers/

# File types #
##############
.synk*
*.syncdb
*._
.DS_Store*
*.bak

TRACKER_PTB/INITIAL_TRAINING_FIX/Experiment/runstim\.asv

*.asv
